[run]
branch = True
source = discretus
omit =
    discretus/_version.py
    discretus/__main__.py

[report]
precision = 2
show_missing = True
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    raise NotImplementedError
    if __name__ == .__main__.:
